body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: rgb(245, 237, 225)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.flex-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-image {
    max-width: 100%;
    /* padding-top: 56px; */
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-size-20 {
    font-size: 20px;
}

.justify-text {
    text-align: justify;
}

.sheet-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 70px;
    padding: 0%;
}

.nav-bar {
    opacity: 70%;
    width: 100%;
    overflow: hidden;
    padding: 5px 16px !important;
    color: #000 !important;
    background-color: #fff;
    display: flex;
}

.menu-items {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menu-items>a {
    letter-spacing: 2px;
    font-size: 20px;
    padding: 5px 16px;
    align-self: center
}

.contact-form {
    width: 90%;
    height: 1000px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer>p {
    margin: 0;
}

.padding-top-nav {
    padding-top: 80px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.image-parent {
    position: relative;
}

.side-photo-caption {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.main-photo-caption {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

/* Scroll to Top Button */

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    /* Make sure it stays on top */
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    opacity: 0;
    /* Initially invisible */
    visibility: hidden;
    /* Initially hidden */
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    /* Smooth transition */
}

.scroll-top-btn.show {
    opacity: 1;
    /* Make the button visible */
    visibility: visible;
    /* Ensure the button is interactive */
}

.scroll-top-btn:hover {
    background-color: #333;
}


/* adjustments for specific screen sizes */

@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
        position: static;
        /* Override mobile position */
    }

    .main-photo-caption {
        position: absolute;
        bottom: 1px;
        left: 5px;
        font-size: 7px;
        letter-spacing: 1px;
    }

    .padding-top-nav {
        padding-top: 0;
    }
}